html
    head
        //- bower.css
        //- endbower
        //- bower.js
        //- endbower
        //- inject.css
        //- endinject
        //- inject.js
        //- endinject 
        
        title MyApp
    body(class=["MyClass"])
        h1 My App
        P
            h3 Sub Heading
            ul
                each val in list
                    li= val